@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #fff;
}

#nav{
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

h1{
    margin-bottom: 10px;
}


#nav input{
    width: 101px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background: rgb(102,68,0);
    background: linear-gradient(90deg, rgba(102,68,0,1) 0%, rgba(54,23,13,1) 100%);
    color: #ededed;                                
    margin-top: 8%;
    font-weight: bold;
}

#nav input:hover{
    opacity: 0.8;
}

#logo{
    font-size: 24px;
    font-weight: 700;
    font-family:  "DM Sans", sans-serif;
    margin-left: 40px;
}

ul{list-style-type: none;}

#header ul{
    display: flex;
    margin-right: 40px;
    gap: 30px;
}

#header a{
    text-decoration: none;
    font-family: "Instrument Sans", sans-serif;
    font-size: 16px;
    color: rgb(119, 116, 116);
}

#header a:hover{
    transition: 0.2s;
    text-decoration: none;
    color: #777677;
    font-size: 17px;
    cursor: pointer;
}

#container3{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    padding-bottom:50px ;
}

#container3 h1{
    float: left;
    font-size: 69px;
    color: #151316;
    font-family: "Libre Baskerville", serif;
}

#container3 p{
    font-weight: 300;
    font-size: 19px;
    color: #6c6c6c  ;
    font-family: "Instrument Sans", sans-serif;
}

#container3 b{
    background: -webkit-linear-gradient(90deg, rgba(102,68,0,1) 0%, rgba(54,23,13,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#container3 input.inp1{
    font-size: 19px;
    width: 200px;
    height: 55px;
    border-radius: 5px;
    border: none;
    background: rgb(102,68,0);
    background: linear-gradient(90deg, rgba(102,68,0,1) 0%, rgba(54,23,13,1) 100%);
    color: #ededed;
}
#container3 input.inp1:hover{
    opacity: 0.9;
}


#container3 input.inp2{
    font-size: 19px;
    border-radius: 4px;
    width: 124px;
    height: 55px;
    border: solid 0.5px;
    border-color: #7D7C7D;
    background-color: #fff;
    color: #7D7C7D;
}

#container3 input.inp2:hover{
    opacity: 0.9;
}

#square1{
    float: left;
    margin-left: 2% ;
}

#square2{
    margin-left: 9%;
    float: left;
}

#square2 img{
    width: 600px;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 0 0 5px #6c6c6c;
}

#square2 img:hover{
    box-shadow: 0 0 15px #6c6c6c;
}

#content{
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#content h1{
    font-family: "Libre Baskerville", serif;
    font-size: 56px;
    color: #1F1D1F;
    font-weight: bold;
}

#content p{
    font-family: "Instrument Sans", sans-serif;
    font-size: 17px;
    color: #6c6c6c;
    font-weight: 400;
}

#container4{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 2%;
}

#container4 h1{
    font-family: "Libre Baskerville", serif;
    font-size: 49px;
    color: #201D1F;
    font-weight: bold;
}

#container4 h2{
    font-family: "Libre Baskerville", serif;
    font-size: 25px;
    color: #201D1F;
    font-weight: bold;
}

#container4 p{
    font-family: "Instrument Sans", sans-serif;
    font-size: 19px;
    color: #6c6c6c;
}

#container4 p.text{
    font-family: "Instrument Sans", sans-serif;
    font-size: 15px;
    color: #6c6c6c;
}

#square3{
    width: 50%;
    float: left;
    margin-left: 2% ;
}

#square4{
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
}

#square4 img{
    width: 50%;
    border-radius: 15px;
    margin-left: 10%;
}

#login{
    margin-top: 30%;
}

#content2{
    margin-top: 5%;
    box-shadow: 0 0 2.5px black;
    display: flex;
    justify-content: center;
    width: 30%;
    height:600px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    padding: 15px;
    border-radius: 10px;
}

label{
    font-family: "Instrument Sans", sans-serif;
    color: #201D1F;
    font-size: 25px;
    font-weight: 600;
}



#input{
    font-size: 20px;
    height: 60px;
    width: 300px;
    border: none;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 0.6px black;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 600;
    box-shadow: 0 0 3px #6c6c6c;    
}

#input:hover{
    box-shadow: 0 0 5px #6c6c6c;
}

b{
    background: -webkit-linear-gradient(90deg, rgba(102,68,0,1) 0%, rgba(54,23,13,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#container5{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#container5 h1{
    font-family: "Libre Baskerville", serif;
    font-size: 49px;
    color: #201D1F;
    font-weight: bold;
    text-align: center;
}

#footer{
    padding: 15px;
    display: flex;
    justify-content: center;
}

#footer p{
    font-weight: 300;
    font-size: 19px;
    color: #969597;
    font-family: "Instrument Sans", sans-serif;
}

.swiper-container {
    width: 70%;
    height: 100vh;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background: #fff;
}
.swiper-slide img {
    width: 70%;
    height: auto;
}
.swiper-button-next,
.swiper-button-prev {
    color: black;
}

html,
body{
  height: 100%;
  font-size: 15px;
}

.swiper{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(129, 129, 129, 0.2);
    width: 50%;
}
.swiper-slide{
    padding-top: 1%;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img{
    width: 90%;
    object-fit: cover;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 140px !important; 
    position: absolute; 
    left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 140px !important; 
    right: auto;
}

.swiper-text{
    text-shadow:0 0 10px rgba(129, 129, 129, 0.2);
    position: absolute;
    text-align: center;
}

#row1{
    background-color: #fafafa;
    box-shadow: 0 0 3px #dadada;  
}

@media screen and (max-width: 767px) {
    body{
        width:100%;
        }
    #container3{
        grid-template-columns: 1fr;
    }
    #square2{
        margin-left: 0;
    }
    #square3{
        width: auto;
    }
    #square3 h1{
        text-align: center;
    }
    #content h1{
        margin-left: 0;
    }
    #square3 p{
        text-align: center;
    }
    #square4 img{
        width: 0;
    }
}

@media screen and (max-width: 600px) {
    #container3{
        grid-template-columns: 1fr;
    }
    #container3 img{
        width: 475px;
        margin-left: 0;
    }
    #square2{
        margin-left: 0;
    }
    #square3{
        width: auto;
    }
    #square3 h1{
        text-align: center;
    }
    #content h1{
        margin-left: 0;
    }
    #square3 p{
        text-align: center;
    }
    #square4 img{
        width: 0;
    }
}
@media screen and (max-width: 900px) {
    #container3{
         grid-template-columns: 1fr;
    }
}
